DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true&connection_limit=5"
DIRECT_URL="postgresql://user:password@host:5432/postgres"
JWT_SECRET="change-this-to-a-random-string-of-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
